<h2 mat-dialog-title>Edit prices</h2>

<mat-dialog-content [formGroup]="inputForm">
 
    <div class="input-and-icon" *ngFor="let c of _Object.keys(inputForm.controls)">
        <mat-form-field>
            <input matInput [placeholder]="findFuelName(c, fuelTypes$ | async)" [formControlName]="c">
        </mat-form-field>
        <button mat-icon-button onclick="this.blur()" (click)="useCamera(c)" *ngIf="isMobileApp">
            <mat-icon>photo_camera</mat-icon>
        </button>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="inputForm.invalid || _Object.keys(inputForm.controls).length === 0" (click)="submit()">Save</button>
</mat-dialog-actions>
