<h2 mat-dialog-title>Edit prices</h2>

<mat-dialog-content [formGroup]="inputForm">
  
    <mat-form-field *ngFor="let c of _Object.keys(inputForm.controls)">
        <input matInput [placeholder]="findFuelName(c, fuelTypes$ | async)" [formControlName]="c">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="inputForm.invalid || _Object.keys(inputForm.controls).length === 0" (click)="submit()">Save</button>
</mat-dialog-actions>