.table-container {
    max-height: calc(100vh - 64px - 48px - 64px - 40px - 56.56px - 64px - 10px);
    overflow: auto;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.search-and-filter {
    width: 100%;
    display: flex;
}

@media (max-width: 599px) {
    .table-container {
        max-height: calc(100vh - 56px - 48px - 64px - 40px - 56.56px - 56px - 10px);
    }
}

td.name-column {
    width: 100%;
    padding-left: 3px !important;

    p {
        margin: 0px;
        line-height: 10px;
        min-height: 10px;
    }
}

td.price-column {
    min-width: 60px;
    padding-right: 0px !important;

    p {
        margin: 0px;
        line-height: 10px;
        min-height: 10px;
    }

  }
  
td.action-column {
  min-width: 90px;
  padding-right: 0px !important;
}

.font-10 {
    font-size: 10px;
}

.font-08 {
    font-size: 8px;
}

td.action-column {
    button.mat-icon-button {
        width: 30px;
        height: 30px;
    }
}
