<mat-accordion displayMode="flat">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add station
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-stations-form></app-stations-form>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stations
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-stations-list></app-stations-list>
    </mat-expansion-panel>

</mat-accordion>

