<form class="form-container" [formGroup]="inputForm" (ngSubmit)="submit()" autocomplete="off">

    <mat-card>
        <mat-card-header>
            <mat-card-title>
            </mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          
            <mat-form-field class="form-field">
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Lat" formControlName="lat">
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Lng" formControlName="lng">
            </mat-form-field>

            <mat-form-field class="form-field">
                <input placeholder="Country"
                       matInput
                       formControlName="country"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
                    <mat-option *ngFor="let country of filteredCountries$ | async" [value]="country">
                        {{ country.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Street" formControlName="street">
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Zip" formControlName="zip">
            </mat-form-field>

            <ng-container formArrayName="fuelTypesArray">
                <div *ngFor="let c of inputForm.get('fuelTypesArray')['controls']; index as i">
                    <mat-slide-toggle [formControlName]="i">{{ fuelTypes[i].name }}</mat-slide-toggle>
                </div>
            </ng-container>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button type="submit" [disabled]="inputForm.invalid">Add</button>
        </mat-card-actions>
    </mat-card>
    <span>{{ formStatus$ | async }}</span>
</form>
    