<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="over">
        <p>myFuel - todo..................</p>
    </mat-sidenav>

    <mat-sidenav-content class="example-content">

        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>home</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>help</mat-icon>
                      <span>About</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
