<google-map *ngIf="mapCenter$"
  height="100%"
  width="100%"
  [zoom]="mapZoom$ | async"
  [center]="mapCenter$ | async"
  [options]="options"
  (mapRightclick)="mapRightclick($event)"
>

  <map-marker
    #markerElem
    *ngFor="let station of stations$ | async"
    [position]="{lat: station.lat, lng: station.lng}"
    [label]="station.name"
    [title]="station.name"
    (mapClick)="openInfo(markerElem, station)"
  >
  </map-marker>

  <map-info-window>
    {{ infoContent }}<br>
    <a (click)="editStation()">edit</a>&nbsp;
    <a (click)="deleteStation()">delete</a>&nbsp;
  </map-info-window>
  
</google-map>

<img class="map-center-button" (click)="centerMap()" width="41px" height="41px" src="assets/images/map/icon-place-point@2x.png">
