.map-center-button {
    position: fixed;
    bottom: 64px + 20px;
    left: 10px;
    background-color: white;
    cursor: pointer;
}

.map-new-position-button {
    position: fixed;
    bottom: 64px + 20px;
    left: 10px + 50px;
    background-color: white;
    cursor: pointer;
}

.map-filter-button {
    position: fixed;
    bottom: 64px + 20px;
    left: 10px + 50px + 50px;
    background-color: white;
    cursor: pointer;
}

.map-circle-button {
    position: fixed;
    bottom: 64px + 20px;
    left: 10px + 50px + 50px + 50px;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 599px) {
    .map-center-button {
        bottom: 56px + 20px;
    }
    .map-new-position-button {
        bottom: 56px + 20px;
    }
    .map-filter-button {
        bottom: 56px + 20px;
    }
    .map-circle-button {
        bottom: 56px + 20px;
    }
}

.map-icon-on {
    background-color: grey;
}

.text-right {
    text-align: right;
}

map-info-window {
    p {
        min-width: 140px;
        margin-bottom: 5px;
    }
    div.flex {
        display: flex;
    }
    div.margin-top-2px {
        margin-top: 2px;
    }
}

.font-10 {
    font-size: 10px;
}

