<google-map
  height="100%"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapDblclick)="mapDblclick($event)"
>

  <map-marker
    #markerElem
    *ngFor="let station of stations$ | async"
    [position]="{lat: station.lat, lng: station.lng}"
    [label]="station.name"
    [title]="station.name"
    (mapClick)="openInfo(markerElem, station)"
  >
  </map-marker>

  <map-info-window>
    {{ infoContentId }}<br>
    {{ infoContent }}<br>
    <a (click)="editStation()">edit</a>&nbsp;
    <a (click)="deleteStation()">delete</a>&nbsp;
  </map-info-window>
  
</google-map>
