<google-map *ngIf="mapCenter$"
    height="100%"
    width="100%"
    [zoom]="zoom"
    [center]="mapCenter$ | async"
    [options]="options"
    (mapDblclick)="mapDblclick($event)"
    (zoomChanged)="zoomChanged()"
>

    <map-marker
        #markerElem
        *ngFor="let station of stations$ | async"
        [position]="{lat: station.lat, lng: station.lng}"
        [label]="station.name"
        [title]="station.name"
        (mapClick)="openInfo(markerElem, station)"
    >
    </map-marker>

    <map-info-window>
        {{ infoContent }}<br>
        <a (click)="editStation()">edit</a>&nbsp;
        <a (click)="deleteStation()">delete</a>&nbsp;
    </map-info-window>

    <map-marker *ngIf="position$"
        [position]="position$ | async"
        [options]="{ icon: 'assets/images/map/radio_button_checked-black-18dp.svg' }"
    >
    </map-marker>

    <map-circle *ngIf="position$"
        [options]="{ draggable: circleDraggable$ | async }"
        [center]="position$ | async"
        [radius]="(mapFilter$ | async).range * 1000"
        (circleDblclick)="circleDblclick($event)"
        (circleDragend)="circleDragend($event)"
    >
    </map-circle>

</google-map>

<img class="map-center-button" (click)="centerMap()" width="41px" height="41px" src="assets/images/map/gps_fixed-black-48dp.svg">
<img class="map-new-position-button" (click)="setPositionFromMapCenter()" width="41px" height="41px" src="assets/images/map/center_focus_weak-black-48dp.svg">
<img class="map-filter-button" (click)="openMapFilter()" width="41px" height="41px" src="assets/images/map/settings-black-48dp.svg">
<img class="map-circle-button" [ngClass]="{'map-icon-on': circleDraggable$ | async}" (click)="toggleCircleDraggable()" width="41px" height="41px" src="assets/images/map/google-circles-group.svg">
