<h2 mat-dialog-title>Filter</h2>

<mat-dialog-content>

    <mat-card>
        <mat-card-content>
            <h4>Range (km)</h4>
      
            <mat-slider
                max="15"
                min="5"
                step="5"
                thumbLabel="true"
                [value]="(mapFilter$ | async).range"
                (change)="rangeChange($event)">
            </mat-slider>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
      
            <mat-form-field>
                <mat-label>Fuel type</mat-label>
                <mat-select [value]="(mapFilter$ | async).fuelTypeId" (selectionChange)="fuelTypeChange($event)">
                    <mat-option [value]="ft.id" *ngFor="let ft of fuelTypes$ | async">{{ ft.name }}</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>
    </mat-card>


</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary" (click)="submit()">Set</button>
</mat-dialog-actions>